.div-extra{
    border: 3px solid black;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 5px ;
}
.title-extra{
    color: brown;
    text-align: center;
    font-size:40px ;
    font-weight: 800;
}


.time-display-extra{
    text-align: center;
    font-size: 40px;
    margin-top: 15px;
    
}
.time-display-btn-extra{
    height: 40px;
    width: 75px;
    
    margin-top: 10px;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 3px;
}

.btn-divs{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}